opencv-python
face-recognition
numpy
requests
playsound==1.2.2
Pillow
python-dotenv
twilio
torch
torchvision
tqdm
phonenumbers

# YOLOv5 specific dependencies
pandas>=1.1.4
matplotlib>=3.2.2
seaborn>=0.11.0
PyYAML>=5.3.1
scipy>=1.4.1